{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}

<div id="messageContainer">
  {% for message in messages %}
  <div>
    <span class="color-gray">[{{ message.created_at}}]</span>
    {{ message.author.first_name }}:
    <i>{{ message.text }}</i>
  </div>
  {% endfor %}
</div>

<script>
  async function sendMessage() {
    const currentDate = getFormattedCurrentDate();

    let fd = new FormData();
    let token = '{{ csrf_token }}';
    fd.append('textmessage', messageField.value);
    fd.append('csrfmiddlewaretoken', token);
    messageContainer.innerHTML += `
    <div id="deleteMessage">
      <span class="color-gray">[DATUM]</span>{{ request.user.first_name }}:<i class="color-gray">${messageField.value}</i>
    </div>`;
    try {
      let response = await fetch('/chat/', {
        method: 'POST',
        body: fd,
      });
      let json = await response.json();
      parsedJson = JSON.parse(json);
      console.log('json response is:', json);
      console.log('parsed json response is:', parsedJson);
      console.log('Message sent');
      document.getElementById('deleteMessage').remove();
      messageContainer.innerHTML += `
    <div>
      <span class="color-gray">[${currentDate}]</span>{{ request.user.first_name }}:<i>${messageField.value}</i>
    </div>`;
    } catch (error) {
      console.error('An error occured while sending an message:', error);
    }
    messageField.value = '';
  }

  //helper functions
  function getFormattedCurrentDate() {
    const options = { year: 'numeric', month: 'short', day: 'numeric' };
    let date = new Date().toLocaleDateString('en-US', options);
    date = date.replace(/(\w{3}) (\d{1,2}), (\d{4})/, '$1. $2, $3');
    return date;
  }
</script>

<form onsubmit="sendMessage(); return false;" method="post">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField" />
    <label class="mdl-textfield__label" for="messageField">Text...</label>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Send
  </button>
</form>
{% else %}
<h1>Not loggedin</h1>
<p>
  Currently your are not loggedin. Please login again.<br />
  Please click <a href="/login/">here</a> to login again.
</p>
{% endif %} {% endblock %}