{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css/' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
    </style>
</head>

<body>
    {% block content %}
    <h2>Login</h2>

    {% if wrongPassword %}
    <p>Username or password is wrong!</p>
    {% endif %}
    <form class="dFlex" method="POST" action="/login/">
        {% csrf_token %}
        <input type="hidden" name="redirect" value="{{ redirect }}">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="username" type="text" id="sample3">
            <label class="mdl-textfield__label" for="sample3">Username...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="password" type="password" id="sample3">
            <label class="mdl-textfield__label" for="sample3">Password...</label>
        </div>
        <div> <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Login
            </button></div>
    </form>

    {% endblock %}
</body>

</html>